# DB 컨테이너 초기화 설정 (MySQL 컨테이너용)
MYSQL_DATABASE=sns_db
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

# DB 접속 정보 (Spring Boot 애플리케이션용)
DB_HOST=localhost
DB_PORT=3306
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# JWT
JWT_SECRET=

# OAuth2 클라이언트 자격 증명
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=